<h2>Registo</h2>
<form method="POST" action="/api/register">
  <input name="username" placeholder="Username" required><br>
  <input name="password" type="password" placeholder="Password" required><br>
  <input name="email" type="email" placeholder="Email" required><br>
  <input name="telefone" type="tel" placeholder="Telemóvel" required
  pattern="[0-9]{9}" title="Deve conter 9 dígitos numéricos" /><br>
  <button type="submit">Registar</button>
</form>